<div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" href="#">Planning</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#disconnect">
                           <p><i class="pe-7s-unlock"></i>
                            Se déconnecter</p>
                        </a>
                    </li>
                    <li class="separator hidden-lg"></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Prochains rendez-vous</h4>
                        </div>
                        <div class="content table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <th>Date</th>
                                    <th>Heure</th>
                                    <th>Demandeur</th>
                                    <th>Localité</th>
                                    <th>Domaine</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>12 mai 2018</td>
                                        <td>12h30</td>
                                        <td>Charles Branson</td>
                                        <td>Yverdon-les-Bains</td>
                                        <td>Informatique</td>
                                        <td><button class="btn btn-primary btn-fill" id="route">Itinéraire</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>12 mai 2018</td>
                                        <td>12h30</td>
                                        <td>Charles Branson</td>
                                        <td>Yverdon-les-Bains</td>
                                        <td>Informatique</td>
                                        <td><button class="btn btn-primary btn-fill" id="route">Itinéraire</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>12 mai 2018</td>
                                        <td>12h30</td>
                                        <td>Charles Branson</td>
                                        <td>Yverdon-les-Bains</td>
                                        <td>Informatique</td>
                                        <td><button class="btn btn-primary btn-fill" id="route">Itinéraire</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>