<div class="content table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <th>Date</th>
            <th>Heure</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Localité</th>
            <th>Domaine(s)</th>
            <th>Action</th>
        </thead>
        <tbody>
            {{#each demandes}} {{#ifEquals statut "validé"}}
            <tr>
                <td>{{dateConvert date}}</td>
                <td>{{heure}}</td>
                <td>{{titre}}</td>
                <td>{{description}}</td>
                <td>{{senior.user.ville}}</td>
                <td>{{competences.[0].categorie}} - {{competences.[0].nom}}</td>
                <td><button class="btn btn-primary btn-fill" id="route" data-id="{{@index}}">Itinéraire</button> 
            </tr>
            {{/ifEquals}} {{/each}}
        </tbody>
    </table>
</div>