
   <div id="jun_ban" class="ban">
       <h1>Vous êtes étudiants/apprentis ?</h1>
   </div>
   <div class="row jun">
   <h2>Vous avez ...</h2>
       <div class="left col-sm-3">
           <img src="img/jun_img/skill_jun.png" alt="symbole représentant les compétences dans le domaine de la technologie">
           <p>
               Des compétences ou connaissances dans le domaine de la technologie ?
           </p>
       </div>
       <div class="center col-sm-3">
           <img src="img/jun_img/clock.png" alt="Symbole représentant le temps que vous pouvez avoir">
           <p>
               Des disponibilités en dehors de votre formation ?
           </p>
       </div>
       <div class="right col-sm-3">
           <img src="img/jun_img/help_jun.png" alt="symbole représentant deux personnes (un junior et un senior) se serrant la main">
           <p>
               L'envie d'aider des seniors qui en ont besoin ?
           </p>
       </div>
   </div>
       
            <div class=" row featurette">
   <h2>Nous vous proposons ...</h2>
                <div class="col-md-7 texte">
                    <h2 class="featurette-heading"><span class="text-muted">Une formation aux compétences sociales</span></h2>
                    <p class="lead">Dans les formations technologiques, le social est bien souvent oublié, mais nous vous donnons l'occasion de l'améliorer !</p>
                </div>
                <div class="col-md-5 image ">
                    <img class="featurette-image img-fluid mx-auto" src="img/jun_img/social.jpg" alt="Generic placeholder image" id="img_articleRom">
                </div>
            </div>
            <hr class="featurette-divider">
            <div class=" row featurette">
                <div class="col-md-5 image">
                    <img class="featurette-image img-fluid mx-auto" src="img/jun_img/jun_sen.jpg" alt="Generic placeholder image" id="img_articleRom">
                </div>
                <div class="col-md-7 texte">
                    <h2 class="featurette-heading"><span class="text-muted">Une formation promouvant "les Juniors au service des Seniors"</span></h2>
                    <p class="lead">Aider un senior n'est pas forcément facile pour tous, surtout quand nous le connaissons pas. Avec une formation adaptée, vous serez désormais capable d'appréhender n'importe quel senior.</p>
                </div>
            </div>
            <hr class="featurette-divider">
            <div class=" row featurette">
                <div class="col-md-7 texte">
                    <h2 class="featurette-heading"><span class="text-muted">Une activité adaptée à vos disponibilités</span></h2>
                    <p class="lead">Beaucoup d'examens ? Un mois de vacances ? Aucun problème, il vous suffira d'indiquer précisement vos disponibilités !</p>
                </div>
                <div class="col-md-5 image ">
                    <img class="featurette-image img-fluid mx-auto" src="img/jun_img/clock.jpg" alt="Generic placeholder image" id="img_articleRom">
                </div>
            </div>
            <hr class="featurette-divider">
            <div class=" row featurette">
                <div class="col-md-5 image">
                    <img class="featurette-image img-fluid mx-auto" src="img/jun_img/money.jpg" alt="Generic placeholder image" id="img_articleRom">
                </div>
                <div class="col-md-7 texte">
                    <h2 class="featurette-heading"><span class="text-muted">Une activité rémunérée</span></h2>
                    <p class="lead">Et oui, tout travail mérite salaire s'il est correctement fait. Vous recevrez des informations sur le versement des salaires et le tarif une fois accepté dans notre service.</p>
                </div>
            </div>
   <div class="row jun2">
   <h2>Ce qu'il faut pour être engagé ...</h2>
       <div class="left col-sm-4">
           <img src="img/jun_img/18_jun.png" alt="symbole repésentant la majorité légale en Suisse, c'est à dire 18 ans">
           <p>
               Être majeur
           </p>
       </div>
       <div class="center col-sm-4">
           <img src="img/jun_img/casier.png" alt="symbole pour le casier judiciaire vierge, représenté par un livre sans inscription">
           <p>
               Casier judiciaire vierge
           </p>
       </div>
       <div class="right col-sm-4">
           <img src="img/jun_img/know_jun.png" alt="symbole représentant les connaissances">
           <p>
               Connaissances et compétences pour les services proposés
           </p>
       </div>
       <div class="right col-sm-4">
           <img src="img/jun_img/partage_jun.png" alt="symbole représentant la discussion intergénérationnelle">
           <p>
               Intérêt pour valoriser vos connaissances auprès d'autres générations
           </p>
       </div>
   </div>
    <div class="align_mid">
    <strong>Intéressé(e) ? Postulez !</strong><br/>
    <a href="#inscription"><button class="btn-lg btn-link"> Je m'inscris ! </button></a>
    </div>
