<h1 id="connectez">
    Connectez-vous !</h1>
<div class="Login col-md-4">
    <div id="text">
        <h1>Se connecter</h1>
        <p>Utilisez votre adresse mail et votre mot de passe pour</p>
        <p>vous connecter</p>
    </div>
    <div class="alert-error"></div>
    <form>
        <div class="form-group login">
            <label id="text" for="monPseudo">Pseudo</label>
            <input type="text" class="form-control" id="monPseudo" aria-describedby="pseudoHelp" name="monPseudo" placeholder="MonPseudo123">

            <label id="password" for="MonMot">Mot de passe</label>
            <input type="password" class="form-control" id="MonMot" placeholder="***********" name="monMot">
            <div id="oubli">
                <p><a href="#contact" class="btn btn-secondary" href="#" role="button">Mot de passe oublié ? &raquo;</a></p>
            </div>

            <button id="button" type="submit" class="btn btn-primary">Connexion</button>
        </div>
    </form>
    <div id="membre">
        <p>Pas encore membre ? Créer votre compte<a href="#inscription"> ici &raquo;</a></p>
    </div>
</div>
<!-- /.row -->
