<div class="ban" id="sen_ban">
    <h1>Le digital contre la marginalisation</h1>
</div>
<div class="row sen">
    <h2>Nous vous promettons un service ...</h2>
    <div class="left col-sm-3">
        <img src="img/sen_img/individual.png" alt="symbole représentant un service personnalisé sur chacun">
        <p>
            Individualisé
        </p>

        <ul>
            <li>Contact téléphonique permanent avec notre centrale</li>
            <li>Des agents entièrement à votre écoute</li>
            <li>Choix de votre intervenant</li>
        </ul>
    </div>
    <div class="center col-sm-3">
        <img src="img/sen_img/shield.png" alt="Symbole représentant un bouclier pour évoquer la sécurité">
        <p>
            Sécurisé
        </p>

        <ul>
            <li>Les Juniors sont identifiés</li>
            <li>Les visites sont annoncées</li>
            <li>Les coordonnées de l'intervenant sont communiquées</li>
        </ul>
    </div>
    <div class="right col-sm-3">
        <img src="img/sen_img/target.png" alt="symbole représentant une cible pour évoquer l'optimum de notre service">
        <p>
            Optimal
        </p>

        <ul>
            <li>Vous évaluez chaque prestation</li>
            <li>Nous améliorons chaque jour nos services</li>
        </ul>
    </div>
</div>
<div class=" row featurette">
    <h2>Nos offres ...</h2>
    <div class="col-md-7 texte">
        <h2 class="featurette-heading"><span class="text-muted">Prestation ponctuelle</span></h2>
        <ul style="text-align:left;">
            <li>Prix par prestation : vous ne payez que ce que vous utilisez</li>
            <li>Prise en charge en priorité normale</li>
            <li>Hotline disponible</li>
            <li>0% de prestations spécialisées</li>
        </ul>
        <strong>Au prix de 15.-</strong>
    </div>
    <div class="col-md-5 image ">
        <img class="featurette-image img-fluid mx-auto" src="img/sen_img/ponctuel.jpg" alt="Generic placeholder image" id="img_articleRom">
    </div>
</div>
<hr class="featurette-divider">
<div class=" row featurette">
    <div class="col-md-5 image">
        <img class="featurette-image img-fluid mx-auto" src="img/sen_img/simple.jpg" alt="Generic placeholder image" id="img_articleRom">
    </div>
    <div class="col-md-7 texte">
        <h2 class="featurette-heading"><span class="text-muted">Abonnement light</span></h2>
        <ul style="text-align:left;">
            <li>Une intervention par mois comprise dans l'abonnement</li>
            <li>Prise en charge en priorité normale</li>
            <li>Hotline disponible</li>
            <li>0% de prestations spécialisées</li>
        </ul>
        <strong>Au prix de 10.- par mois</strong>
    </div>
</div>
<hr class="featurette-divider">
<div class=" row featurette">
    <div class="col-md-7 texte">
        <h2 class="featurette-heading"><span class="text-muted">Abonnement medium</span></h2>
        <ul style="text-align:left;">
            <li>Deux interventions par mois comprise dans l'abonnement</li>
            <li>Prise en charge en priorité intermédiaire</li>
            <li>Hotline disponible</li>
            <li>5% de prestations spécialisées</li>
        </ul>
        <strong>Au prix de 20.- par mois</strong>
    </div>
    <div class="col-md-5 image ">
        <img class="featurette-image img-fluid mx-auto" src="img/sen_img/intermediate.png" alt="Generic placeholder image" id="img_articleRom">
    </div>
</div>
<hr class="featurette-divider">
<div class=" row featurette">
    <div class="col-md-5 image">
        <img class="featurette-image img-fluid mx-auto" src="img/sen_img/premieum.jpg" alt="Generic placeholder image" id="img_articleRom">
    </div>
    <div class="col-md-7 texte">
        <h2 class="featurette-heading"><span class="text-muted">Abonnement premium</span></h2>
        <ul style="text-align:left;">
            <li>Une intervention par semaine comprise dans l'abonnement</li>
            <li>Prise en charge en priorité normale</li>
            <li>Hotline disponible</li>
            <li>10% de rabais pour l'achat de matériel chez les partenaires</li>
        </ul>
        <strong>Au prix de 40.- par mois</strong>
    </div>
</div>
<div class="align_mid">
    <strong>Intéressé(e) ? Inscrivez-vous !</strong><br/>
    <a href="#inscription"><button class="btn-lg btn-link"> Je m'inscris ! </button></a>
</div>
