

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Evaluations</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            
                            <li>
                                <a href="#disconnect">
                                    <p>Se déconnecter</p>
                                </a>
                            </li>
                            <li class="separator hidden-lg"></li>
                        </ul>
                    </div>
                </div>
            </nav>


            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Evaluations en attente</h4>
                                </div>
                                <div class="content table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <th>Date</th>
                                        <th>Heure</th>
                                        <th>Durée</th>
                                        <th>Demandeur</th>
                                        <th>Adresse</th>
                                        <th>Localité</th>
                                        <th>Domaine(s)</th>
                                        <th>Action</th>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>28 mai 2018</td>
                                            <td>12h30</td>
                                            <td>30 minutes</td>
                                            <td>Jacques Chiroc</td>
                                            <td>Ch. de l'Elysée 8</td>
                                            <td>Lausanne</td>
                                            <td>Informatique</td>
                                            <td>
                                                <button class="btn btn-primary btn-fill">Faire un évaluation</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>28 mai 2018</td>
                                            <td>12h30</td>
                                            <td>30 minutes</td>
                                            <td>Jacques Chiroc</td>
                                            <td>Ch. de l'Elysée 8</td>
                                            <td>Lausanne</td>
                                            <td>Informatique</td>
                                            <td>
                                                <button class="btn btn-primary btn-fill">Faire un évaluation</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Nouvelle évaluations</h4>
                                </div>
                                <div class="content">
                                    <form>
                                        <div class="content all-icons">
                                            <div class="row">
                                                <a>
                                                    <div class="col-md-3">
                                                        <div class="font-icon-detail"><i class="pe-7s-status1"></i>
                                                            <p class="status1">Entièrement satisfait</p>
                                                        </div>
                                                    </div>
                                                </a>

                                                <a>
                                                    <div class="col-md-3">
                                                        <div class="font-icon-detail"><i class="pe-7s-status2"></i>
                                                            <p class="status2">Satisfait</p>
                                                        </div>
                                                    </div>
                                                </a>

                                                <a>
                                                    <div class="col-md-3">
                                                        <div class="font-icon-detail"><i class="pe-7s-status3"></i>
                                                            <p class="status3">Mitigé</p>
                                                        </div>
                                                    </div>
                                                </a>

                                                <a>
                                                    <div class="col-md-3">
                                                        <div class="font-icon-detail"><i class="pe-7s-status4"></i>
                                                            <p class="status4">Pas satisfait</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Remarque:</label>
                                                    <textarea name="juniorInputEmail" type="text" class="form-control" rows="10" placeholder="Laissez vos remarques ici..."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-info btn-fill pull-right">Enregistrer l'evaluations</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

