<div class="content table-responsive">
    <table class="table table-hover table-striped">
        <thead>
        <th>Date</th>
        <th>Heure</th>
        <th>Durée</th>
        <th>Titre</th>
        <th>Adresse</th>
        <th>Localité</th>
        <th>Domaine(s)</th>
        <th>Actions</th>
        </thead>
        <tbody>
        {{#each demandes}}
        {{#ifEquals statut "envoyé"}}
        <tr>
            <td>{{dateConvert date}}</td>
            <td>{{heure}}</td>
            <td>{{duree}}</td>
            <td style="text-transform: capitalize;">{{titre}}</td>
            <td style="text-transform: capitalize;">{{senior.user.adresse}}</td>
            <td style="text-transform: capitalize;">{{senior.user.ville}}</td>
            <td style="text-transform: capitalize;">{{#each competences}}
                {{nom}}, {{categorie}}
                {{/each}}</td>
            <td>
                <button class="btn btn-danger btn-fill demande-reject btn_annuler" data-id="{{id}}">Annuler</button>
            </td>
        </tr>
        {{/ifEquals}}
        {{/each}}
        </tbody>