
        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Profil</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="">
                                    <p>Mon compte</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p>Se déconnecter</p>
                                </a>
                            </li>
                            <li class="separator hidden-lg"></li>
                        </ul>
                    </div>
                </div>
            </nav>


            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Mettre à jour le profil</h4>
                                </div>
                                <div class="infos-profil">
                                </div>
                            </div>
                        </div>





                        <!--<div class="col-md-4">
                            <div class="card card-user">
                                <div class="image">
                                    <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..." />
                                </div>
                                <div class="content">
                                    <div class="author">
                                        <a href="#">
                                    <img class="avatar border-gray" src="assets/img/faces/face-3.jpg" alt="..."/>

                                      <h4 class="title">Mike Andrew<br />
                                         <small>michael24</small>
                                      </h4>
                                    </a>
                                    </div>
                                    <p class="description text-center"> "Lamborghini Mercy <br> Your chick she so thirsty <br> I'm in that two seat Lambo"
                                    </p>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Disponibilités</h4>
                                </div>
                                <div class="content">
                                    <div></div>
                                    <table class="table table-hover table-striped table-responsive disponibility" name="disponibility">
                                        <thead>
                                            <tr>
                                                <th scope="col">Jour</th>
                                                <th scope="col">Matin</th>
                                                <th scope="col">Après-midi</th>
                                                <th scope="col">Soir</th>
                                            </tr>
                                        </thead>
                                        <tbody id="dispo_table">
                                            <tr>
                                                <th scope="row">Lundi</th>
                                                <td dispo-day="lm" class="disponibility"></td>
                                                <td dispo-day="lam" class="disponibility"></td>
                                                <td dispo-day="ls" class="disponibility"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Mardi</th>
                                                <td dispo-day="mam" class="disponibility"></td>
                                                <td dispo-day="maam" class="disponibility"></td>
                                                <td dispo-day="mas" class="disponibility"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Mercredi</th>
                                                <td dispo-day="mem" class="disponibility"></td>
                                                <td dispo-day="meam" class="disponibility"></td>
                                                <td dispo-day="mes" class="disponibility"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Jeudi</th>
                                                <td dispo-day="jm" class="disponibility"></td>
                                                <td dispo-day="jam" class="disponibility"></td>
                                                <td dispo-day="js" class="disponibility"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Vendredi</th>
                                                <td dispo-day="vm" class="disponibility"></td>
                                                <td dispo-day="vam" class="disponibility"></td>
                                                <td dispo-day="vs" class="disponibility"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Samedi</th>
                                                <td dispo-day="sm" class="disponibility"></td>
                                                <td dispo-day="sam" class="disponibility"></td>
                                                <td dispo-day="ss" class="disponibility"></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Dimanche</th>
                                                <td dispo-day="dm" class="disponibility"></td>
                                                <td dispo-day="dam" class="disponibility"></td>
                                                <td dispo-day="ds" class="disponibility"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <button class="btn btn-info btn-fill pull-right">Enregistrer</button>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

